* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#pageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: ceter;
    align-items: center;
    height: 800px;
    width: auto;
    background-color: #000000;
}

#etchASketch {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 550px;
    min-width: 550px;
    margin: 100px;
    background-color: #ce0101;
}

#canvas {
    display: flex;
    /*background-color: #e2dacf;*/
    background-color: black;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
}

#options {
    display: flex;
    justify-content: center;
    color: white;
}

input {
    margin: 5px;
    background-color: #000000;
    border-color: #000000;
    cursor: pointer;
}

.checkbox {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}



label {
    margin-right: 10px;
}